*.log
/.htaccess
/wp-config.php
wp-content/uploads/
*/~/web-server/public
~/home-widget/assets/
wp-content/*/*/assets
wp-admin
wp-includes
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php