
// margin top content mobile
.content-wrapper {
    margin-top: 60px;
    @media screen and (min-width: 1300px){
        margin-top: 10px;
    }
}
.header-freezing {
    position: fixed;
    top: 50px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid silver;
    z-index: 9999;
    background-color: white;
    display: flex;
    @media screen and (min-width: 1366px){
        display: none;
    }
    i.fa-navicon {
        font-size: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #f73838;
    }
    .advance-product-search {
        width: 100%;
        @media screen and (min-width: 1366px) {
            width: calc(100% - 180px);
        }
        .select_products {
            display: none;
        }
        .input-group {
            line-height: 50px;
            input {
                width: calc(100% - 20px);
            }
            button {
                line-height: 45px;
            }
        }
        .aws-container {
            margin-top: 6px;
            .aws-search-form {
                height: 38px;
                .aws-search-field {
                    padding-right: 6px;
                    border-top-left-radius: 5px!important;
                    border-bottom-left-radius: 5px!important;
                    border-color: #f73838!important;
                }
                .aws-form-btn {
                    border-top-right-radius: 5px!important;
                    border-bottom-right-radius: 5px!important;
                    background: #f73838 !important;
                    border-color: #f73838!important;
                    .aws-search-btn_icon {
                        color: white !important;
                    }
                }
            }
        }
    }
    .cart-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        margin-right: 5px;
        @media screen and (min-width: 1366px) {
            width: 120px;
        }
        .yith-wcwl-wrapper {
            padding: 8px 9px;
            margin: 0 5px 0;
        }
        .wc-cart-wrapper {
            padding: 8px 9px;
            margin: 0;
        }
    }
    .pr-menu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 100;
        
        .panel-menu {
            width: 300px;
            height: 100%;
            position: absolute;
            background-color: white;
            .site-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
                background-color: #c0c0c03d;
                a {
                    margin: 10px 25px;
                }
            }
            .body-list-menu-items {
                height: calc(100vh - 200px);
                overflow-y: auto;
                ul.menu-lv1 {
                    a {
                        color: black;
                    }
                    li {
                        padding: 10px 5px 10px 15px;
                        span.slicknav_arrow {
                            float: right;
                            font-size: 25px;
                            margin-right: 10px;
                            color: red;
                        }
                        span.display-name {
                            font-weight: bold;
                            color: #f73838;
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                    }
                    .login-account {
                        text-align: left;
                        strong {
                            font-size: 16px;
                            color: #f73838;
                        }
                    }
                    ul.menu-lv2 {
                        padding-left: 20px;
                        li {
                            border: none;
                            padding-left: 0;
                            list-style: none;
                            padding: 2px 0 5px 0;
                            &:before {
                                content: "\2022";
                                color: red;
                                font-weight: bold;
                                font-size: 18px;
                                width: 20px;
                                padding-right: 10px;
                              }
                        }
                    }
                }
                ul.session-1 {
                    border-bottom: 1px solid rgba(192, 192, 192, 0.38);
                    margin-bottom: 5px;
                    li {
                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                        i.fa {
                            font-size: 20px;
                            margin-right: 10px;
                            color: red;
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            &.fa-new-sales {
                                background-image: url('./assets/img/bang-gia-ban.png');
                                background-size: cover;
                            }
                            &.fa-old-sales {
                                background-image: url('./assets/img/bang-gia-mua.png');
                                background-size: cover;
                            }
                            &.fa-warranty {
                                background-image: url('./assets/img/check-bao-hanh.png');
                                background-size: cover;
                            }
                        }
                    }
                }
            }
            .footer {
                height: 50px;
                background-color: #c0c0c03d;
                text-align: center;
                font-weight: 500;
            }
        }
    }
    &.header-promo-text-not-active {
        top: 0;
    }
}
.aws-search-result {
    @media screen and (max-width: 1365px){
        left: 0px !important;
        width: 100%!important;
    }
}
.panel-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(4, 4, 4, 0.76);
}
.header-ads-adv-search {
    .aws-container {
        .aws-show-clear .aws-search-field {
            padding-right: 6px;
            border-top-left-radius: 5px!important;
            border-bottom-left-radius: 5px!important;
            border-color: #f73838!important;
        }
        .aws-search-form .aws-form-btn {
            border-top-right-radius: 5px!important;
            border-bottom-right-radius: 5px!important;
            background: #f73838 !important;
            border-color: #f73838!important;
            .aws-search-btn_icon {
                color: white !important;
            }
        }
    }
}