.woocommerce-plp {
    .site-content {
        position: relative;
        #primary {
            width: 100%;
            @media screen and (min-width: 1024px) {
                margin-top: 50px;
                width: calc(100% - 310px);
            }
            #main {
                background-color: white;
                .woocommerce-result-count {
                    margin: 0;
                    padding: 10px 5px;
                }
                .woocommerce-ordering {
                    margin: 0;
                    padding: 10px 5px;
                    .orderby {
                        border: 1px solid silver;
                        border-radius: 5px;
                    }
                }
            }
        }
        #secondary-left {
            position: absolute;
            top: 50px;
            min-height: 50px;
            background-color: white;
            z-index: 10;
            border-bottom: 1px solid silver;
            -webkit-box-shadow: 0 17px 11px -21px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 17px 11px -21px rgba(0,0,0,0.75);
            box-shadow: 0 17px 11px -21px rgba(0,0,0,0.75);        
            width: 300px;
            padding-top: 0;
            display: none;
            @media screen and (min-width: 1024px) {
                display: block;
            }
            .custom-sidebar-pc {
                @media screen and (min-width: 1024px) {
                    display: flex;
                }
                display: none;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 0;
                height: 50px;
                overflow: hidden;
                .header-filter {
                    background: #f8f8f8 none repeat scroll 0 0;
                    border-top: .5px solid silver;
                    height: 50px;
                    width: 100%;
                    padding-top: 15px;
                    padding-left: 10px;
                    cursor: pointer;
                    i.fa-navicon {
                        position: absolute;
                        right: 10px;
                        font-size: 20px;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                        color: #f73838;
                        top: 0;
                        &:before {
                            content: '\f0b0';
                        }
                    }
                }
                aside[id*='woocommerce_layered_nav_filters'] {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid silver;
                    padding-bottom: 5px;
                    ul {
                        li {
                            a {
                                &:before {
                                    content: "";
                                }
                            }
                        }
                    }
                }
                aside {
                    padding: 10px 15px;
                    min-width: 200px;
                    border-right: 1px solid silver;
                    ul {
                        li {
                            a {
                                &:before {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
            .toggle-filter {
                height: auto;
            }
            ul.product-categories, ul.woocommerce-widget-layered-nav-list {
                li {
                    padding: 3px 0;    
                    border-bottom: 1px solid #d7d7d75c;
                    &.cat-item-none {
                        display: none;
                    }
                }
            }
        }
    }
}