
<%- include('../global/header', {"title" : "Arduino Management"}); %>

<body>
    <%- include('../global/navbar'); %>
    <div class="main-content">
        <%- include('../global/breadcrumb', {"breadcrumb_item" : {
            "name": "Arduino Management",
            "link" : "/arduino-management"
        }}); %>
        <div id="lst-arduino">
        </div>
    </div>
</body>

<%- include('../global/footer', {"componentScript": "/js/reactjs/admin_control_arduino.js"}); %>