.error404 {
    #content {
        .error-404.not-found {
                padding-top: 0;
                .page-header {
                    .page-title {
                        padding: 0;
                        margin: 0;
                        border: none !important;
                        &:before {
                            border: none !important;
                        }
                    }
                }
                aside[id^='online_shop_'] {
                    .at-title-action-wrapper {
                        margin: 0;
                        padding: 0;
                        padding-top: 20px;
                        text-align: left;
                        color: #29337a;
                        font-size: 30px;
                        font-weight: 300;
                    }
                    .widgettitle {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
    }
}
