.woocommerce-account {
    #primary {
        header.entry-header {
            display: none;
        }
        article.page {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .woocommerce-MyAccount-navigation {
        display: none;
        @media screen and(min-width: 812px) {
            display: block;
        }
    }
    .woocommerce-MyAccount-content {
        // wishlist
        padding-left: 0;
        .wishlist-title {
            display: inline-block;
            border-bottom: 2px solid red;
            margin-bottom: 15px;
            width: 100%;
        }
        .width-item {
            display: flex;
            flex-direction: column;
            position: relative;
            border-bottom: .5px solid silver;
            .product-remove {
                position: absolute;
                right: 0;
                z-index: 100;
            }
            .product-detail {
                display: flex;
                img {
                    width: 100px;
                    height: 100px;
                }
                .detail {
                    width: calc(100% - 100px);
                    display: flex;
                    flex-direction: column;
                    padding-left: 5px;
                    .price {
                        color: red;
                        ins {
                            margin-right: 10px;
                            text-decoration: none;
                        }
                        del {
                            color: silver;
                        }
                    }
                }
            }
            .product-add-to-cart {
                text-align: right;
            }
        }
        .address-item {
            border: 1px solid #ffffff;
            border-radius: 5px;
            padding: 10px;
            background-color: #ffffff;
            margin: 10px;
            font-size: 13px;
            .default {
                color: #26bc4e;
            }
            .address-action {
                float: right;
                .update-address {
                    color: #007ff0;
                }
                .remove-address {
                    color: red;
                    margin: 0 10px;
                }
            }
            .address-name-title {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .address-form {
            width: 400px;
            margin: 0 auto;
            padding: 5px;
            border: 1px solid silver;
            border-radius: 5px;
            .input-form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 5px;
                margin-bottom: 10px;
            }
        }
    }
}