.single-post {
    #content {
        .post-content {
            padding: 5px;
            @media screen and (min-width: 768px){
                padding: 20px 30px 10px 30px;
            }
            .entry-header {
                a[class^='at-cat-item'] {
                    display: none;
                }
            }
        }
        .nav-links {
            a {
                border: none;
            }
        }
        .at-title-action-wrapper {
            border: none;
            margin: 0;
            padding: 10px 0 0;
            &:before {
                border: none;
            }
        }
        .featured-entries-col {
            margin: 0;
            .single-list{
                height: 390px;
                overflow: hidden;
                @media screen and (min-width: 768px) {
                    height: 400px;
                }
                .post-container {
                    height: 100%;
                }
                .post-thumb {
                    height: 100px;
                    overflow: hidden;
                    @media screen and (min-width: 768px) {
                        height: 150px;
                    }
                    @media screen and (min-width: 1366px) {
                        height: 180px;
                    }
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                .post-content {
                    padding: 5px;
                }
            }
        }
    }
}