
.wares_qty_box {
    width: 100%;
    position: relative;
    display: table-cell;
    vertical-align: top;
    span {
        display: inline-block;
        text-align: center;
        float: left;
    }
    .myshop_wares, .wares_qty_box, .wares_qty_num {
        width: 40px;
        height: 28px;
        line-height: 28px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .wares_qty_minus, .wares_qty_add{
        width: 28px;
        height: 28px;
        cursor: pointer;
        border: 1px solid #ccc;
        background: url(./assets/img/bg_newshop_pro.png?20170814) 9px -290px no-repeat;
    }
    .wares_qty_num {
        input {
            width: 40px;
            height: 20px;
            line-height: 20px;
            border: 0;
            text-align: center;
            color: #666;
            font-size: 12px;
            padding: 0 5px;
        }
    }
    .wares_qty_minus {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .wares_qty_add  {
        background: url(./assets/img/bg_newshop_pro.png?20170814) 9px -313px no-repeat;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

form.cart {
    button[name="add-to-cart"] {
        margin-top: 10px;
    }
}

.cart_totals {
    .shipping {
        display: none;
    }
}

.woocommerce-cart {
    .cart-collaterals {
        .cart_totals {
            table {
                th {
                    width: 50%;
                }
            }
        }
    }
    .cart {
        .wares_qty_num {
            .qty {
                vertical-align: unset;
            }
        }
    }
}

form.woocommerce-cart-form {
    table {
        tr {
            &.hide-mobile {
                display: none;
                @media screen and(min-width: 992px){
                    display: flex;
                }
            }
            &.hide-desktop {
                display: flex;
                @media screen and(min-width: 992px){
                    display: none;
                }
            }
        }
        td {
            border: none;
            &:before {
                content: none !important;
            }
        }
        tr.woocommerce-cart-form-custom-mobile {
            .product-thumbnail {
                display: block !important;
                width: 120px;
            }
            .product-details {
                width: calc(100% - 120px);
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0;
                margin: 0;
                a.remove-product {
                    position: absolute;
                    color: red;
                    font-size: 25px;
                    top: -1px;
                    right: 2px;
                }
                div.product-name {
                    text-align: left;
                    padding-right: 5px;
                }
                div.product-price {
                    padding: 3px 0;
                }
                div.product-qty {
                    width: 100%;
                    div.wares_qty_box {
                        p.wares_qty_box__label {
                            float: left;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    td.product-thumbnail {
        width: 120px;
        img {
            width: 100px;
            height: 100px;
        }
    }
    td.product-name {
        width: calc(100% - 390px);
        >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            a.remove-product {
                color: red;
                font-weight: bold;
                padding: 3px;
            }
        }
    }
    td.product-price {
        width: 150px;
        span.price {
            display: flex;
            flex-direction: column;
            ins {
                color: red;
                font-weight: 600;
                text-decoration: none;
            }
            del {
                color: silver;
            }
        }
    }
    td.product-quantity {
        width: 120px;
        padding: 6px 0;
    }
}