.custom-checkout {

    header#masthead {
        .wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .site-logo {
            width: 100%;
            img {
                max-height: 150px;
            }
        }

        .checkout-step {
            width: 100%;
            float: left;
            position: relative;
            height: 150px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            .progress-checkout {
                width: 100%;
                
                .bs-wizard {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    height: 75px;
                    .bs-wizard-step {
                        flex: 1;
                        text-align: center;
                        .bs-wizard-stepnum {
                            height: 45px;
                        }
                        .progress {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            .progress-bar-right {
                                width: 50%;
                                height: 5px;
                                background-color: red;
                                position: absolute;
                                left: 50%;
                                z-index: 10;
                            }
                            .progress-bar-left {
                                width: 50%;
                                height: 5px;
                                background-color: red;
                                position: absolute;
                                left: 0;
                                z-index: 10;
                            }
                            .bs-wizard-dot {
                                width: 25px;
                                height: 25px;
                                background-color: red;
                                border-radius: 50%;
                                color: white;
                                line-height: 25px;
                                z-index: 11;
                            }
                        }
                        &.active {
                            .progress-bar-right {
                                background-color: transparent;
                                border: 1px solid silver;
                                border-right: 0;
                            }
                        }
                        &.disabled {
                            color: #a3a3a3;
                            .progress {
                                .progress-bar-right, .progress-bar-left {
                                    background-color: transparent;
                                    border: 1px solid silver;
                                }
                                .progress-bar-left {
                                    border-left: 0;
                                }
                                .progress-bar-right {
                                    border-right: 0;
                                }
                                .bs-wizard-dot {
                                    border: 1px solid silver;
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .hot-line {
            // width: 18%;
            // float: left;
            // position: relative;
            width: 100%;
            height: auto;
            //height: 150px;
        }
        @media screen and (min-width: 1366px) {
            .wrapper {
                flex-direction: row;
                flex-wrap: nowrap;
            }
            .site-logo {
                width: auto;
            }
            .checkout-step {
                width: 60%;
            }
            .hot-line {
                width: 18%;
                float: left;
                position: relative;
                height: 150px;
            }
        }
    }
    div#content-checkout {
        margin-top: 20px;
        .checkout-account {
            .social-login {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .social-buttons {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    @media screen and (min-width: 640px) {
                        flex-direction: row;
                    }
                    .btn-block {
                        width: 230px;
                        color: #fff;
                        text-align: center;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 5px;
                        margin: 0 5px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        i {
                            font-size: 20px;
                            padding-left: 10px;
                            padding-right: 10px;
                            border-right: 1px solid;
                            height: 40px;
                            line-height: 40px;
                            min-width: 40px;
                            margin-right: 5px;
                        }
                        &.btn-facebook {
                            background-color: #3b5998;
                            border-color: rgba(0,0,0,.2);
                        }
                        &.btn-google {
                            background: #df4a32;
                            color: #fff;
                            border: 1px solid #c63923;
                        }
                        &.btn-zalo {
                            color: #fff;
                            background-color: #0f8edd;
                            border-color: rgba(0,0,0,.2);
                            display: flex;
                            height: 40px;
                            .icon-zalo {
                                padding: 6px;
                                border-right: 1px solid;
                                margin-right: 5px;
                            }
                        }
                    }
                    p.or {
                        margin: 5px 0;
                    }
                }
            }
            .account-order {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 20px;
                
                .form-account {
                    //flex: 3;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 20px;
                    
                    .tab {
                        width: 100%;
                        height: auto;
                        display: flex;
                        //float: left;
                        //width: 25%;
                        //height: 370px;
                        background: #f1f1f1;
                    }
                    .tab button {
                        display: block;
                        background-color: inherit;
                        color: black;
                        width: 100%;
                        border: none;
                        outline: none;
                        text-align: left;
                        cursor: pointer;
                        transition: 0.3s;
                        border-bottom: 1px solid silver;
                        text-align: center;
                        padding: 5px 0;
                        span {
                            font-weight: 600;
                        }
                        i {
                            display: none;
                        }
                    }
                    .tab button:hover {
                        background-color: #ddd;
                    }
                    .tab button.active {
                        background-color: #ccc;
                    }
                    .tabcontent {
                        border: 1px solid #ccc;
                        width: 100%;
                        padding: 0px 12px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        // float: left;
                        // width: 70%;
                        // border-left: none;
                        // height: 370px;
                    }

                    .input-form {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 5px;
                        margin-bottom: 10px;
                        label {

                        }
                        input {
                            padding: 5px;
                            border-radius: 5px;
                            border: .5px;
                        }
                    }
                    .group-button {
                        .btn-login {
                            border-radius: 3px;
                            background: red;
                            color: white;
                            font-weight: 700;
                            padding: 10px 15px;
                        }
                    }
                }
                .order-items {
                    //flex: 1;
                    width: 100%;
                }
                @media screen and (min-width: 1024px){
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    .form-account {
                        //flex: 3;
                        width: calc(100% - 280px);
                        margin-bottom: 0;
                    }
                    .order-items {
                        //flex: 1;
                        width: 270px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .checkout-address {
            .list-address {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                .address-item {
                    width: 100%;
                    padding: 10px;
                    &.active {
                        .address-content {
                            border: 1px dashed #090;
                            .group-button {
                                span:nth-child(1) {
                                    background-color: red;
                                    color: white;
                                }
                            }
                        }
                    }
                    .address-content {
                        width: 100%;
                        height: 200px;
                        padding: 10px;
                        border: 1px solid silver;
                        border-radius: 5px;
                        .address-name {
                            display: flex;
                            justify-content: space-between;
                            .default {
                                color: #090;
                            }
                        }
                        .group-button {
                            span {
                                margin: 5px 10px;
                                margin-left: 0px;
                                padding: 10px;
                                background-color: #ccc;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    .address-item {
                        width: 50%;
                    }
                }
            }
            .new-address, .update-address-form {
                form {
                    width: 320px;
                    margin: 0 auto;
                    padding: 5px;
                    border: 1px solid silver;
                    border-radius: 5px;
                    @media screen and (min-width: 480px) {
                        width: 400px;
                    }
                    .group-button {
                        display: flex;
                        justify-content: space-between;
                        button, a {
                            width: 170px;
                            border-radius: 3px;
                            background: red;
                            color: white;
                            font-weight: 700;
                            padding: 10px 2px;
                        }
                        .cancel {
                            background: #ccc;
                            text-align: center;
                        }
                    }
                }
                &.hidden {
                    display: none;
                }
            }
        }

        .checkout-payment {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            @media screen and (min-width: 1024px) {
                flex-direction: row;
                flex-wrap: nowrap;
            }
            .paymnent-details {
                flex: 3;
                
                @media screen and (min-width: 1024px) {
                    padding-right: 20px;
                }
            }
            .order-details {
                flex: 1;
            }

            .delivery, .payment {
                padding: 10px 10px 10px 15px;
                border: 0.5px solid silver;
                margin-bottom: 20px;
                border-radius: 5px;
                .group-radio {
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
            }
            .btn-order {
                button {
                    background-color: red;
                    color: white;
                    padding: 10px 50px;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-radius: 3px;
                }
            }
        }
        .checkout-thank {
            display: flex;
            flex-wrap: nowrap;
            .thank-contents {
                flex: 3;
                .thank-content {
                    padding-left: 20px;
                }
            }
            .right-content {
                display: none;
                @media screen and (min-width: 1024px) {
                    display: block;
                    flex: 1;
                }
            }
        }

        .checkout-account, .checkout-address, .checkout-payment {
            .input-form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 5px;
                margin-bottom: 10px;
                label {

                }
                input {
                    padding: 5px;
                    border-radius: 5px;
                    border: .5px;
                }
            }

            .order-address, .order-items {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                border: 1px solid silver;
                border-radius: 5px;
                padding: 10px;
                .head {
                    border-bottom: 1px solid silver;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;
                    margin-bottom: 15px;
                }
            }
            .order-items {
                .product-item, {
                    margin-bottom: 5px;
                    border-bottom: .1px solid silver;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;
                }
                .order-totals {
                    .line {
                        margin-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .total {
                        border-top: 2px solid silver;
                    }
                }
            }
        }
    }
}