.footer-bottom-category {
    a {
        color: #2d2d2d;

        &:hover {
            color: #07afd4;
        }
    }
}

.es_submit_button {
    border: none;
    padding: 8px;

    &:hover {
        opacity: 0.5;
    }
}

.site-footer {
    #footer-top {
        .online-shop-before-feature {
            display: block;

            @media screen and (min-width: 769px) {
                display: none;
            }
        }
    }
}

