.woocommerce {
    ul.products {
        margin: 0;
        li.product {
            .price {
                ins {
                    text-decoration: none;
                }

                p {
                    text-align: left;
                }

                .price_label {
                    color: #2d2d2d;
                    font-size: 18px;
                }
            }
        }
    }
}

.main-navigation {
    .special-menu-wrapper {
        li {
            .special-menu {
                text-transform: uppercase;
            }
        }
    }
}

.products {
    .star-rating-empty {
        height: 15px;
        margin: 0;
    }
}

.footer-sidebar {
    .text-center {
        text-align: center;
    }
}
.main-navigation ul.special-menu-wrapper ul.special-sub-menu a {
    text-transform: unset;
}

h2.woocommerce-loop-product__title {
    height: 56px;
}

.home {
    // .pointer {
    //     display: inline-block;
    //     width: 20rem;
    //     height: 2.5rem;
    //     position: relative;
    //     background: #ebe9eb;
    //     text-align: center;
    // }

    // .pointer:after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 0;
    //     height: 0;
    //     border-left: 20px solid white;
    //     border-top: 20px solid transparent;
    //     border-bottom: 20px solid transparent;
    // }

    // .pointer:before {
    //     content: "";
    //     position: absolute;
    //     right: -20px;
    //     bottom: 0;
    //     width: 0;
    //     height: 0;
    //     border-left: 20px solid #ebe9eb;
    //     border-top: 20px solid transparent;
    //     border-bottom: 20px solid transparent;
    // }

    .at-title-action-wrapper {
        padding-bottom: 0;
        margin-bottom: 10px;
        .widget-title {
            padding-left: 2rem;
            padding-top: 0.3rem;
        }
    }
}

.top-header-promotion {
    display: none;
}

@media screen and (min-width: 1024px) {
    .top-header-promotion {
        display: block;
    }
}