.woocommerce {
    ul.products {
        margin: 0;
        li.product {
            .price {
                ins {
                    text-decoration: none;
                }

                p {
                    text-align: left;
                }

                .price_label {
                    color: #2d2d2d;
                    font-size: 18px;
                }
            }
        }
    }
}

.products {
    .star-rating-empty {
        height: 15px;
        margin: 0;
    }
}

.footer-sidebar {
    .text-center {
        text-align: center;
    }
}
.main-navigation ul.special-menu-wrapper ul.special-sub-menu a {
    text-transform: unset;
}

h2.woocommerce-loop-product__title {
    height: 56px;
}
.online-shop-before-feature {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    aside {
        width: 100%;
    }
}
.home {
    .at-title-action-wrapper {
        padding-bottom: 0;
        margin-bottom: 10px;
        .widget-title {
            padding-left: 2rem;
            padding-top: 0.3rem;
        }
    }

    #content {
        .products {
            .product-type-grouped {
                .product-item-details {
                    .price {
                        display: block;
                    }
                }

                .product_type_grouped {
                    display: none;
                }
            }
        }

        .wrapper {
            .slider-feature-wrap {
                margin-right: -10px;
                margin-left: -10px;

                @media screen and (min-width: 768px) {
                    margin-right: -20px;
                    margin-left: -20px;
                }
                @media screen and (min-width: 1024px) {
                    margin-right: 0px;
                    margin-left: 0px;
                    padding-top: 20px;
                }

                .featured-entries-about {
                    display: none;

                    @media screen and (min-width: 768px) {
                        display: block;
                    }
                }
                @media screen and (min-width: 993px) {
                    margin-right: 0px;
                    margin-left: 0px;
                }
                @media screen and (min-width: 1366px) {
                    width: calc(100% - 237px);
                    float: right;
                    margin-top: 0px;
                }
            }
        }

        aside#online_shop_about-2 {
            .featured-entries-about {
                display: block;

                @media screen and (min-width: 769px) {
                    display: none;
                }

                &.column {
                    background-color: unset;
                }
            }
        }
    }
}


.site-header {
    .top-header-promotion {
        @media screen and (min-width: 1366px) {
            display: block;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            .promotion-banner {
                background-position: center center;
                background-size: auto 50px;
                background-repeat: no-repeat;
                height: 50px;
            }
        }
    }
    .header-promo-texts {
        background-color: #2d2d2d;
        height: 50px;
        line-height: 46px;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        @media screen and(min-width: 1366px){
            display: none;
        }
        div {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }
    }
}


.online-shop-feature-special-menu {
    .primetime-price-mobile {
        margin: 10px 0;
        h2.widget-title {
            color: red;
            margin-bottom: 5px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    #slider-section-right  {
        display: none;
        float: right;
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        @media screen and (min-width: 768px) {
            display: block;
            width: 25%;
            height: 300px;
        }
        li.product {
            span.price {
                del, ins {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    #dv-primetime-price-mobile, #slider-section-right {
        .block-time-down {
            margin-bottom: 5px;
            text-align: left;
            width: 100%;
            padding-left: 10px;

            .hours, .minutes, .seconds {
                background-color: #f73838;
                border: 1px solid #fff;
                border-radius: 3px;
                color: #fff;
                font-weight: 700;
                padding: 0 3px;
            }

            span {
                color: red;
                margin-right: 5px;
            }

            .fa-clock-o {
                color: #000000;
                font-size: 20px;
                margin: 0 5px;
                vertical-align: middle;
            }
        }

        .custom-primetime-sale {
            .single-list {
                &.acme-col-4 {
                    width: 100%;
                }
            }

            &.featured-entries-col {
                margin: 0;

                &.woocommerce {
                    ul.products {
                        li.product {
                            a:nth-child(1) {
                                img {
                                    width: 130px;
                                }
                            }
                        }
                    }
                }
            }

            .stock-quantity {
                margin: 0 auto;
            }
        }
    }
}

.navigation-wrapper {
    .main-navigation {
        .special-menu-wrapper {
            position: unset;
            li {
                .special-menu {
                    text-transform: uppercase;
                }
            }
            .menu-item-has-children {
                .angle-down {
                    position: absolute;
                    top: 2px;
                }
            }
            #menu-special-menu {
                a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap
                }
                .menu-item {
                    padding: 1.5px;
                }
                // custom new template menu
                li.menu-item-has-children {
                    position: unset;
                    display: flex;
                    flex-direction: row-reverse;
                    i {
                        position: unset !important;
                        display: none;
                    }
                    &:hover {
                        div.sub-menus {
                            display: block;
                        }
                        i {
                            display: initial;
                        }
                    }
                }
                div.sub-menus {
                    display: none;
                    @media screen and (min-width: 1024px){
                        width: 975px;
                        height: 545px;
                        position: absolute;
                        left: 225px;
                        top: 0;
                        z-index: 9999;
                        background-color: white;
                        border: 1px solid #dedede;
                        .sub-menu-lv1 {
                            display: flex;
                            flex-wrap: wrap;
                            >section {
                                width: 24.9%;
                                padding-top: 5px;
                                >a {
                                    display: block;
                                    line-height: unset;
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .sub-menu-lv2 {
                                width: 100%;
                                padding-left: 20px;
                                display: flex;
                                flex-direction: column;
                                a {
                                    width: 100%;
                                    padding: 0;
                                    display: initial;
                                    line-height: unset;
                                    padding: 0 0 5px 10px;
                                    font-size: 13px;
                                    font-weight: 400;
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
            >li >ul {
                height: 544px !important;
            }
        }
    }
    
}

.site-header {
    .site-logo {
        img {
            height: 80px;
            width: auto;
        }
    }
}

.woocommerce-pdp {
    .widget_recently_viewed_products {
        .widget-title {
            font-size: 24px;
            color: #2d2d2d;
        }
        .at-title-action-wrapper {
            &:before {
                border-bottom: 1px solid #f73838;
            }
        }
    }
}

.widget_recently_viewed_products {
    .widget-title {
        color: #29337a;
        font-size: 30px;
    }
    .pointer {
        margin-bottom: 10px;
    }
}

.woocommerce {
    ul.product_list_widget {
        display: flex;
        flex-wrap: wrap;
        li {
            background: #fff;
            border: 1px solid #f3f3f3;
            padding: 10px;
            height: 320px;
            position: relative;
            overflow: hidden;
            width: 49.8%;
            @media screen and (min-width: 768px) {
                height: 360px;
                align-items: center;
                width: 33.2%;
            }
            @media screen and (min-width: 992px) {
                height: 400px;
                padding: 10px;
                width: 24.9%;
            }
            @media screen and (min-width: 1366px) {
                height: 450px;
            }
            @media screen and (min-width: 1400px) {
                height: 400px;
                width: 19.9%;
            }
            .woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                img {
                    width: 200px;
                    margin: 0 auto;
                    @media screen and (min-width: 992px) {
                        flex-direction: column;
                        align-items: center;
                        width: 300px;
                    }
                }
            }
            .product-item-details {
                text-align: left;
                width: 100%;
                .woocommerce-loop-product__title {
                    text-align: center;
                    font-size: 14px;
                    height: auto;
                }
                .warranty_period {
                    display: block;
                    font-size: 13px;
                    color: #000000;
                    font-weight: normal;
                }
                .price {
                    font-size: 14px;
                    padding: 0;
                    color: #f73838;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    float: left;
                    ins {
                        display: block;
                        text-decoration: none;
                    }
                    del {
                        color: #2d2d2d;
                        opacity: .5;
                        margin-right: 0;
                    }
                }
                .star-rating {
                    clear: both;
                    margin-top: 7px;
                }
            }
        }
    }
}
