.woocommerce {
    ul.products {
        margin: 0;
        li.product {
            .price {
                ins {
                    text-decoration: none;
                }

                p {
                    text-align: left;
                }

                .price_label {
                    color: #2d2d2d;
                    font-size: 18px;
                }
            }
        }
    }
}

button[type=submit], input[type=submit] {
    background-color: red!important;
    color: white!important;
}


.products {
    .star-rating-empty {
        height: 15px;
        margin: 0;
    }
}

.footer-sidebar {
    .text-center {
        text-align: center;
    }
}
.main-navigation ul.special-menu-wrapper ul.special-sub-menu a {
    text-transform: unset;
}

h2.woocommerce-loop-product__title {
    height: auto;
    min-height: 44px;
    width: 100%;
    font-size: 13px;
    text-align: center;
    color: black;
}
.online-shop-before-feature {
    min-height: 90px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    aside {
        width: 100%;
    }
}
.home {
    .at-title-action-wrapper {
        padding-bottom: 0;
        margin-bottom: 10px;
        .widget-title {
            padding-left: 2rem;
            padding-top: 0.3rem;
        }
    }

    #content {
        .products {
            .product-type-grouped {
                .product-item-details {
                    .price {
                        display: block;
                    }
                }

                .product_type_grouped {
                    display: none;
                }
            }
        }

        .wrapper {
            .slider-feature-wrap {
                margin-right: -10px;
                margin-left: -10px;

                @media screen and (min-width: 768px) {
                    margin-right: -20px;
                    margin-left: -20px;
                    //height: 545px;
                }
                @media screen and (min-width: 1024px) {
                    margin-right: 0px;
                    margin-left: 0px;
                }

                .featured-entries-about {
                    display: none;

                    @media screen and (min-width: 768px) {
                        display: block;
                    }
                }
                @media screen and (min-width: 993px) {
                    margin-right: 0px;
                    margin-left: 0px;
                }
                @media screen and (min-width: 1366px) {
                    width: calc(100% - 225px);
                    float: right;
                    margin-top: 0px;
                }
                .slider-section {
                    margin-bottom: 0;
                }
            }
        }

        aside#online_shop_about-2 {
            .featured-entries-about {
                display: block;

                @media screen and (min-width: 769px) {
                    display: none;
                }

                &.column {
                    background-color: unset;
                }
            }
        }
    }
}


.site-header {
    .top-header-promotion {
        @media screen and (min-width: 1366px) {
            display: block;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            .promotion-banner {
                background-position: center center;
                background-size: auto 50px;
                background-repeat: no-repeat;
                height: 50px;
            }
        }
    }
    .header-promo-texts {
        background-color: #2d2d2d;
        height: 50px;
        line-height: 46px;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        @media screen and(min-width: 1366px){
            display: none;
        }
        div {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }
    }
}

.primetime-price-desktop {
    height: 100%;
    #dv-primetime-price-desktop {
        height: calc(100% - 31px);
    }
    h2.widget-title {
        border-bottom: .5px solid silver;
        text-align: center;
    }
    ul.products li.product a:nth-child(1) img {
        width: 100px !important;
        height: 100px !important;
        @media screen and (min-width: 1024px) {
            width: 150px !important;
            height: 150px !important;
        }
    }
}

.primetime-price-mobile, .primetime-price-desktop {
    h2.widget-title {
        color: red;
        margin-bottom: 2px;
    }
    .loading {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-left: 5px;
            //font-size: 50px;
            &.fa-spinner {
                color: red;
                font-size: 20px;
                animation: spin 2s linear infinite;
            }
        }
    }
    .block-time-down {
        margin-bottom: 5px;
        text-align: left;
        width: 100%;
        padding-left: 10px;

        .hours, .minutes, .seconds {
            background-color: #f73838;
            border: 1px solid #fff;
            border-radius: 3px;
            color: #fff;
            font-weight: 700;
            padding: 0 3px;
        }

        span {
            color: red;
            margin-right: 5px;
        }

        .fa-clock-o {
            color: #000000;
            font-size: 20px;
            margin: 0 5px;
            vertical-align: middle;
        }
    }

    .custom-primetime-sale {
        .single-list {
            &.acme-col-4 {
                width: 100%;
            }
        }

        &.featured-entries-col {
            margin: 0;
        }

        .stock-quantity {
            margin: 0 auto;
        }
    }

    .image-pc, .image-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 100%;
        }
    }
}
.featured-entries-col {
    &.custom-primetime-sale {
        ul.products {
            li.product {
                a:nth-child(1) {
                    .product-item-details {
                        span.price {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
.widget_online_shop_wc_products_custom {
    .featured-entries-col {
        position: relative;
    }

    .custom-show-banner {
        a {
            align-items: flex-start !important;
            img {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .custom-show-special-product {
        .show-special-product {
            width: 100%;
            position: relative;
            height: 300px;
            border: 1px solid #f3f3f3;
            
            @media screen and (min-width: 768px){
                width: calc((100% * 2/3) - 5px);
                box-sizing: border-box;
                height: 380px;
                float: left;
            }
            @media screen and (min-width: 992px){
                width: 40%;
                height: 403px;
            }
            @media screen and (min-width: 1400px){
                width: calc((100% * 2/5) - 5px);
                
            }
            .contents {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .image{
                    >img {
                        width: 100%;
                    }
                }

                .content {
                    width: 65%;
                }

                .image {
                    width: 34%;
                    margin-right: 1%;
                }
                .content,.image {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media screen and(min-width: 768px) {
                        width: 50%;
                        margin-right: 0;
                    }
                    h3 {
                        padding: 30px 0 20px 0;
                        color: black;
                    }
                    .warranty_period {
                        display: block;
                        font-size: 12px;
                        color: #000000;
                        font-weight: normal;
                    }
                    .price {
                        font-size: 20px;
                        padding: 0;
                        color: #f73838;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        float: left;
                        .price-label {
                            color: black;
                            font-size: 18px;
                        }
                        ins {
                            display: block;
                            text-decoration: none;
                            .price-label {
                                color: black;
                                font-size: 18px;
                            }
                        }
                        del {
                            color: #2d2d2d;
                            opacity: .5;
                            margin-right: 0;
                            .price-label {
                                color: black;
                                font-size: 18px;
                            }
                        }
                    }
                    .star-rating {
                        clear: both;
                        margin-top: 7px;
                    }
                    .single_add_to_cart_button {
                        border-radius: 5px;
                        float: none;
                        background: url('./assets/img/ic-cart.png') 10px center no-repeat #ff3945;
                        background-size: 26px;
                        text-transform: uppercase;
                        letter-spacing: .5px;
                        margin: 20px 0;
                        padding-left: 40px;

                        &:hover {
                            color: #ececec;
                        }
                    }
                }
                &:hover {
                    .content {
                        h3 {
                            color: red;
                        }
                    }
                }
            }
            

            .loading {
                width: 100%;
                margin: 0;
            }
        }
        .slick-slider {
            margin-left: 0%;
            overflow: hidden;
            width: 100%;
            @media screen and (min-width : 768px) {
                margin-left: calc((100% * 2/3) - 5px);
                width: calc((100% * 1/3) + 5px);
            }
            @media screen and (min-width : 992px) {
                margin-left: 40%;
                width: 60%;
            }
            @media screen and (min-width : 1400px) {
                margin-left: calc((100% * 2/5) - 5px);
                width: calc((100% * 3/5) + 5px);
            }
        }
    }

    .custom-show-special-option {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        background-color: transparent !important;
        .special-content {
            width: calc(37.5% - 10px);
            margin-right: 10px;
            background-color: #fff;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                float: left;
                line-height: 0;
                img {
                    height: 540px;
                }
                .content {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 15px;
                    background-color: #98989847;
                    color: black;
                    h3 {
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
            }
            &:hover {
                .content {
                    color: red;
                }
            }
        }
        .show-special-product {
            width: 37.5%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
            height: 540px;
            >a {
                width: 100%;
                border-bottom: 1px solid #c0c0c099;
                overflow: hidden;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
            }
            .special-product-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                
                .image {
                    width: 130px;
                    height: 130px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .content {
                    width: calc(100% - 140px);
                    margin-left: 10px;
                    height: 135px;
                    padding: 0 5px;
                    h3 {
                        padding: 10px 0 10px 0;
                        color: black;
                        margin: 0;
                    }
                    
                }
            }
        }

        .show-special-products {
            width: calc(25% - 10px);
            height: 540px;
            margin-left: 10px;
            .slick-slider {
                margin: 0;
                width: 100%;
                height: 100%;
                .single-list {
                    .products {
                        .product {
                            height: 140px;
                            padding: 5px 0;
                            a {
                                flex-direction: row;
                                width: 100%;
                                height: 100px;
                                padding: 0;
                                //border-bottom: 1px solid silver;
                                justify-content: flex-start;
                                align-items: center;
                                img {
                                    width: 80px;
                                    height: 80px;
                                    margin: 0;
                                }
                            }
                            &:nth-last-child(1) {
                                border-bottom: none;
                            }
                            @media screen and (min-width: 1366px) {
                                height: 130px;
                            }
                        }
                    }
                }
            }
        }
        &.option-three {
            flex-direction: column;
            .special-content {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                a {
                    img {
                        min-height: 420px;
                        height: auto;
                        width: 100%;
                    }
                }
            }
            .show-special-product {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                a {
                    h3 {
                        font-size: 14px;
                    }
                    .price {
                        font-size: 13px !important;
                        .price-label {
                            font-size: 13px !important;
                        }
                    }
                }
            }
            .show-special-products {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                height: 430px;
            }
            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                .special-content {
                    width: 50%;
                    a {
                        img {
                            height: 500px;
                            max-width: 410px;
                            width: 100%;
                        }
                    }
                }
                .show-special-product {
                    width: calc(50% - 5px);
                    margin-left: 5px;
                    height: 500px;
                    .special-product-item {
                        .image {
                            height: 120px;
                        }
                        .content {
                            height: 120px;
                        }
                    }
                }
                .show-special-products {
                    width: 100%;
                    .slick-vertical {
                        .slick-slide {
                            width: 50% !important;
                        }
                    }
                }
            }
            @media screen and (min-width: 1366px) {
                flex-direction: row;
                flex-wrap: nowrap;
                .special-content {
                    width: calc(37.5% - 10px);
                    margin-right: 10px;
                    margin-bottom: 0;
                    a {
                        img {
                            height: 540px;
                            width: 100%;
                            max-width: 100%;
                        }
                        a {
                            h3 {
                                font-size: 18px;
                            }
                            .price {
                                font-size: 16px !important;
                            }
                        }
                    }
                }
                .show-special-product {
                    width: 37.5%;
                    height: 540px;
                    margin-bottom: 0;
                    margin-right: 0;
                    .special-product-item {
                        .image {
                            height: 130px;
                        }
                        .content {
                            height: 130px;
                        }
                    }
                }
                .show-special-products {
                    width: calc(25% - 10px);
                    height: 540px;
                    margin-left: 10px;
                    .slick-vertical {
                        .slick-slide {
                            width: 100%!important;
                        }
                    }
                }
            }
        }

        &.option-four {
            flex-direction: column;
            .special-content {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                a {
                    img {
                        min-height: 420px;
                        height: auto;
                        width: 100%;
                    }
                }
            }
            .show-special-product {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                a {
                    h3 {
                        font-size: 14px;
                    }
                    .price {
                        font-size: 13px !important;
                        .price-label {
                            font-size: 13px !important;
                        }
                    }
                }
                .slick-slider {
                    width: 100%;
                    margin-left: 0;
                    .slick-slide {
                        border-bottom: 2px solid #c0c0c01a;
                        a {
                            background-color: #fff;
                        }
                    }
                }
                .special-product-item {
                    .image {
                        height: 110px;
                        width: 110px;
                    }
                    .content {
                        height: 110px;
                    }
                }
            }
            .content-four {
                // width: 62.5%;
                width: 100%;
            }
            .show-special-product {
                height: 240px;
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
            }
            .show-special-products-four {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                height: 345px;
            }
            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                .special-content {
                    width: 50%;
                    a {
                        img {
                            height: 500px;
                            width: 410px;
                        }
                    }
                }
                .show-special-product {
                    height: 500px;
                    width: 50%;
                    >a {
                        width: calc(50% - 5px);
                        margin-right: 5px;
                        background-color: white;
                        border: none;
                        &:nth-last-child(1) {
                            margin-left: 5px;
                            margin-right: 0;
                        }
                    }
                    .slick-slider {
                        width: 100%;
                        margin: 0;
                        height: 100%;
                        .slick-slide {
                            height: 125px;
                        }
                    }
                    .special-product-item {
                        .image {
                            height: 110px;
                            width: 110px;
                        }
                        .content {
                            height: 110px;
                        }
                    }
                }
                .content-four {
                    .show-special-products-four{
                        width: 100%;
                        // margin-top: 10px;
                        height: auto;
                        .slick-slider {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
            @media screen and (min-width: 1366px) {
                flex-direction: row;
                flex-wrap: nowrap;
                .special-content {
                    width: calc(37.5% - 10px);
                    margin-right: 10px;
                    margin-bottom: 0;
                    a {
                        img {
                            height: 540px;
                            width: 100%;
                            max-width: 100%;
                        }
                        a {
                            h3 {
                                font-size: 18px;
                            }
                            .price {
                                font-size: 16px !important;
                            }
                        }
                    }
                }
                .content-four {
                    width: 62.5%;
                    height: 540px;
                    .show-special-product {
                        width: 100%;
                        margin-bottom: 10px;
                        margin-right: 0;
                        height: 130px;
                        .slick-slider {
                            .slick-slide {
                                border-right: 2px solid #c0c0c01a;
                                border-bottom: 0;
                            }
                        }
                    }
                    .show-special-products {
                        width: 100%;
                        height: 540px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    
    .loading {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-left: 5px;
            //font-size: 50px;
            &.fa-spinner {
                color: red;
                font-size: 30px;
                animation: spin 2s linear infinite;
            }
        }
        @media screen and (min-width : 768px) {
            width: 67%;
            margin-left: 33%;
        }
        @media screen and (min-width : 992px) {
            width: 75%;
            margin-left: 25%;
        }
        @media screen and (min-width : 1400px) {
            width: 80%;
            margin-left: 20%;
        }
    }

    .slick-slider {
        margin-left: 0%;
        overflow: hidden;
        @media screen and (min-width : 768px) {
            margin-left: 33%;
        }
        @media screen and (min-width : 992px) {
            margin-left: 25%;
        }
        @media screen and (min-width : 1400px) {
            margin-left: 20%;
        }
        .slick-arrow {
            display: none;
            position: absolute;
            top: calc(50% - 10px);
            margin-left: 0;
            margin-right: 0;
            z-index: 200;
            border: 2px solid red;
            background: red;
            color: white;
            font-weight: bold;
            padding: 10px;
            &.slick-prev {
                left: -1px;
            }
            &.slick-next {
                right: -1px;
            }
        }
        &:hover {
            .slick-arrow {
                display: inherit;
            }
        }
    }
    .hidden-mobile {
        display: none;
        @media screen and (min-width : 768px) {
            display: block;
        }
    }
}

.primetime-price-mobile {
    display: block;
    margin-bottom: 15px;
    @media screen and (min-width: 767px) {
        display: none;
    }
    .single-list {
        .image {
            height: 150px;
        }
    }
}
.online-shop-feature-special-menu {
    
    .slider-section {
        width: 100%;
        height: auto;
        @media screen and (min-width: 768px) {
            width: 75%;
            margin-bottom: 0;
            height: 300px;
        }
        @media screen and (min-width: 1024px) {
            height: 362px;
        }
        .at-feature-section {
            .at-slide-unit {
                height: 362px;
            }
        }
        .widget_media_image {
            img {
                width: 100%;
                @media screen and (min-width: 768px) {
                    height: 300px !important;
                }
                @media screen and (min-width: 1024px) {
                    height: 362px!important;
                }
            }

        }
    }
    .slider-section-right  {
        display: none;
        float: right;
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        overflow: hidden;
        @media screen and (min-width: 768px) {
            display: block;
            width: 25%;
            height: 300px;
            margin: 0;
        }
        @media screen and (min-width: 1024px) {
            height: 362px;
        }
        li.product {
            span.price {
                del, ins {
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }
            .product-item-details {
                padding: 0 10px !important;
            }
        }
        .widget_media_image {
            width: 100%;
            margin: 0;
            float: left;
            a {
                line-height: 0;
            }
            img {
                float: left;
                height: 181px !important;
            }
        }
    }
    
    .beside-slider {
        .fs-right-slider {
            margin: 0;
            visibility: visible;
            .at-beside-slider-unit {
                height: 181px;
            }
        }
        .widget_media_image {
            float: left;
            height: 150px;
            width: 50%;
            background-color: rgba(45,45,45, 0.15);
            @media screen and (min-width: 768px) {
                width: 25%;
            }
            @media screen and (min-width: 1024px) {
                height: 180px;
            }
            img {
                height: 150px !important;
            }
            @media screen and (min-width: 1024px) {
                height: 180px;
                img {
                    height: 180px !important;
                }
            }
        }
    }
    .widget {
        margin: 0;
    }
}

.navigation-wrapper {
    .main-navigation {
        .special-menu-wrapper {
            position: unset;
            li {
                .special-menu {
                    text-transform: uppercase;
                }
            }
            .menu-item-has-children {
                .angle-down {
                    position: absolute;
                    top: 2px;
                }
            }
            #menu-special-menu {
                margin-top: 10px;
                @media screen and (min-width: 768px) {
                    height: 543px;
                }
                a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    span {
                        width: 25px;
                        height: 25px;
                        float: left;
                        margin-top: 10px;
                        margin-left: -10px;
                        margin-right: 5px;
                    }
                }
                .menu-item {
                    padding: 1.5px;
                }
                // custom new template menu
                li.menu-item-has-children {
                    position: unset;
                    display: flex;
                    flex-direction: row-reverse;
                    i {
                        position: unset !important;
                        display: none;
                    }
                    &:hover {
                        div.sub-menus {
                            display: block;
                        }
                        i {
                            display: initial;
                        }
                    }
                }
                div.sub-menus {
                    display: none;
                    @media screen and (min-width: 1024px){
                        width: 975px;
                        height: 545px;
                        position: absolute;
                        left: 225px;
                        top: 0;
                        z-index: 9999;
                        background-color: white;
                        border: 1px solid #dedede;
                        .sub-menu-lv1 {
                            display: flex;
                            flex-wrap: wrap;
                            >section {
                                width: 24.9%;
                                padding-top: 5px;
                                >a {
                                    display: block;
                                    line-height: unset;
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .sub-menu-lv2 {
                                width: 100%;
                                padding-left: 20px;
                                display: flex;
                                flex-direction: column;
                                a {
                                    width: 100%;
                                    padding: 0;
                                    display: initial;
                                    line-height: unset;
                                    padding: 0 0 5px 10px;
                                    font-size: 13px;
                                    font-weight: 400;
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.site-header {
    .site-logo {
        img {
            height: 80px;
            width: auto;
        }
    }
}

.woocommerce-pdp {
    .widget_recently_viewed_products {
        .widget-title {
            font-size: 24px;
            color: #2d2d2d;
            font-weight: 400;
        }
        .at-title-action-wrapper {
            &:before {
                border-bottom: 1px solid #f73838;
            }
        }
    }
}

.widget_recently_viewed_products {
    position: relative;
    .widget-title {
        color: #29337a;
        font-size: 25px;
        padding-top: 30px;
        font-weight: 400;
    }
    .pointer {
        margin-bottom: 10px;
    }
    ul.product_list_widget {
        display: flex;
        flex-wrap: wrap;
        li {
            background: #fff;
            border: 1px solid #f3f3f3;
            padding: 10px;
            height: 320px;
            position: relative;
            overflow: hidden;
            width: 49.8%;
            @media screen and (min-width: 768px) {
                height: 360px;
                align-items: center;
                width: 33.2%;
            }
            @media screen and (min-width: 992px) {
                height: 400px;
                padding: 10px;
                width: 24.9%;
            }
            @media screen and (min-width: 1366px) {
                height: 450px;
            }
            @media screen and (min-width: 1400px) {
                height: 400px;
                width: 19.9%;
            }
            .woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                img {
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                    @media screen and (min-width: 992px) {
                        flex-direction: column;
                        align-items: center;
                        //width: 300px;
                    }
                    &.delivery-now-icon {
                        width: 50px;
                        position: absolute;
                        left: 15px;
                        top: 5px;
                        margin: 0;
                    }
                }
            }
            .product-item-details {
                text-align: left;
                width: 100%;
                .woocommerce-loop-product__title {
                    text-align: center;
                    font-size: 14px;
                    height: auto;
                }
                .warranty_period {
                    display: block;
                    font-size: 12px;
                    color: #000000;
                    font-weight: normal;
                }
                .price {
                    font-size: 14px;
                    padding: 0;
                    color: #f73838;
                    display: flex;
                    text-align: left;
                    float: left;
                    &.product-is-sale {
                        flex-direction: column;
                    }
                    ins {
                        display: block;
                        text-decoration: none;
                    }
                    del {
                        color: #2d2d2d;
                        opacity: .5;
                        margin-right: 0;
                        .price-label {
                            color: #2d2d2d;
                        }
                    }
                    .price-label {
                        margin-right: 2px;
                        font-weight: normal;
                        color: black;
                    }
                }
                .star-rating {
                    clear: both;
                    margin-top: 7px;
                }
                &.product-type-variable {
                    .price {
                        &.product-is-sale {
                            flex-direction: row;
                        }
                    }
                }
            }
            .add_to_cart_button, .product_type_simple, .product_type_grouped {
                display: none;
            }
        }
    }
    .at-action-wrapper {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
        .slick-arrow {
            border: 2px solid red;
            background: red;
            color: #fff;
            position: absolute;
            top: 58%;
            z-index: 200;
            font-weight: 700;
            &.next {
                right: 0;
            }
            &.prev {
                left: 0;
                margin: 0;
            }
        }
    }
}
#full-width-bottom-footer-two {
    background-color: #f8f8f8;
    border-top: 1px solid #e8e8e8;
    font-size: 12px;
    padding: 10px 0;
    .widget_custom_html {
        margin: 0;
    }
    a {
        color: black;
    }
}

.feature-promo .single-unit{
    height: 180px;
    width: 100%;
    margin-bottom: 5px;
    @media screen and(min-width: 768px) {
        height: 200px;
    }
    @media screen and(min-width: 1024px) {
        height: 300px;
    }
}

.socials-share {
    margin: 10px 0;
    position: relative;
    .fb_iframe_widget {
        position: absolute;
        top: -2px;
        margin-left: 5px;
    }
}

