.featured-entries-col .post-container {
    padding: 1px !important;
    border: 1px solid #f3f3f3;
    a {
        div.image {
            width: 100%;
            min-height: 130px;
            img {
                margin: 0 auto !important;
            }
        }
    }
}
.featured-entries-col .single-list {
    padding-left: 0;
    padding-right: 0;
}
.featured-entries-col .single-list.acme-col-4 {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: 768px) {
        width: 33.33%;
    }
    @media screen and (min-width: 992px) {
        width: 25%;
    }
    @media screen and (min-width: 1400px) {
        width: 20%;
    }
}

.featured-entries-col.woocommerce ul.products li.product, 
.featured-entries-col.woocommerce-page ul.products li.product,
ul.custom-plp-page.products[class*=columns-] li.product,
ul.custom-pdp-page.products[class*=columns-] li.product {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        height: 360px;
        align-items: center;
    }
    @media screen and (min-width: 992px) {
        height: 400px;
        padding: 10px;
    }
    &:hover {
        a.yith-wcqv-button {
            display: block;
            position: absolute;
            border: 1px solid #f3f3f3;
            border-radius: 3px;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            box-shadow:20px 20px 50px 15px rgba(128, 128, 128, 0.322);
        }
    }
    a:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: auto;
        }
        .product-item-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 0 2px;
            @media screen and (min-width: 992px) {
                width: 100%;
            }
            .woocommerce-loop-product__title {
                height: auto;
                min-height: 44px;
                width: 100%;
                font-size: 14px;
                text-align: center;
            }
            span.price {
                padding-left: 5px;
                font-size: 14px !important;
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    padding-left: 0px;
                }
                span.amount {
                    //margin: 0 3px;
                }
                ins {
                    text-align: left;
                    font-weight: normal;
                }
                del {
                    //margin-left: 5px;
                }
            }
        }
        @media screen and (min-width: 640px) {
            align-items: center;
            img {
                width: 200px;
            }
        }
        @media screen and (min-width: 992px) {
            flex-direction: column;
            align-items: center;
            img {
                width: 300px;
            }
        }
    }
    a.yith-wcqv-button, a.product_type_variable {
        margin-left: 10px;
        margin-bottom: 1em;
        font-size: 13px;
        transition: none;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    a.add_to_cart_button, a.yith-wcqv-button, a.product_type_variable, a.product_type_grouped {
        width: 120px;
        display: none;
        // @media screen and (min-width: 768px) {
        //     display: block;
        // }
    }
    .warranty_period {
        padding-left: 5px;
        color: black;
        display: block;
        min-height: 22px;
        @media screen and (min-width: 768px) {
            padding-left: 0px;
        }
        strong {
            display: inline;
        }
    }
}

.woocommerce-page {
    ul.custom-plp-page.products[class*=columns-] {
        display: flex;
        flex-wrap: wrap;
        li {
            background-color: white;
            width: 49.8%;
            border: 1px solid #f3f3f3;
            margin: 0 0 10px;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                width: 33.33%;
            }
            @media screen and (min-width: 1400px) {
                width: 24.9%;
                margin: 0px;
            }
        }
    }
}

.woocommerce {
    a.added_to_cart {
        margin: 13px 0 13px 10px;
    }
    .woocommerce-pagination {
        margin-top: 10px;
    }
}
