.description-wrapper {
    clear: both;
    margin: 18px 0;

    h2 {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .more-content {
        overflow: hidden;
    }
}

.woocommerce-Reviews {
    .commentlist {
        overflow: hidden;
    }

    .commentlist {
        margin-bottom: 30px;
    }
}

.show-more-content {
    border: 1px solid #189eff;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 40%;

    @media screen and (min-width: 767px) {
        width: 20%;
    }

    &:hover {
        background-color: #189eff;
    }
}

.woocommerce-Reviews {
    display: none;
    .woocommerce-Reviews-title {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
}

.hidden {
    display: none!important;
}

.single-product {
    &.woocommerce {
        .product {
            font-size: 13px;

            .price {
                color: #f73838;
                display: block;
                span.amount {
                    margin: 0 3px;
                }
                del {
                    color: #2d2d2d;
                    margin-right: 5px;
                    display: block;
                }

                ins {
                    text-decoration: none;
                    font-weight: normal;
                    display: block;
                }
                .price-label {
                    color: #2d2d2d;
                    font-size: 13px;
                }
            }

            .images {
                .woocommerce-product-gallery__trigger {
                    left: .5em;
                    right: 0;
                }
                img {
                    &.delivery-now-icon {
                        width: 50px;
                        position: absolute;
                        float: right;
                        right: 52px;
                        top: 10px;
                        margin: 0;
                        z-index: 1;
                    }
                }
            }

            .onsale {
                top: -9px;
                right: 0;
                left: unset;
            }

            .trading-information-wrapper {
                p {
                    margin: 0;
                }
            }

            .woocommerce-product-rating {
                border-bottom: 1px solid #ececec;
            }

            .coupon-discount {
                max-width: 200px;
                justify-content: center;
            }

            &.product-type-grouped {
                .cart {
                    .group_table {
                        td:first-child {
                            width: 9em;
                        }
                    }
                }

                .woocommerce-grouped-product-list__quantity_label {
                    text-align: left;
                }

                .woocommerce-grouped-product-list-item__quantity {
                    .wares_qty_box__label{
                        display: none;
                    }
                }

                .woocommerce-grouped-product-list-item__price {
                    display: flex;
                    flex-direction: column;

                    .woocommerce-Price-amount {
                        color: #f73838;
                    }
    
                    del {
                        .woocommerce-Price-amount {
                            color: #2d2d2d;
                            opacity: .5;
                        }
                    }
    
                    ins {
                        text-decoration: none;
                    }

                    .in-stock {
                        display: none;
                    }
                }

                .price {
                    display: block;
                }

                .woocommerce-grouped-product-list-item__message {
                    color: #f73838;
                }
            }

            #woocommerce-product-sale-date {
                color: #f73838;

                h4 {
                    margin-bottom: 5px;
                }

                span {
                    padding: 0 3px;
                    background-color: #f73838;
                    border-radius: 3px;
                    color: #fff;
                    font-weight: 700;
                }

                .fa-clock-o {
                    color: #2d2d2d;
                    font-size: 18px;
                }

                div {
                    display: inline-block;
                }
            }

            .woocommerce-product-gallery {
                .woocommerce-product-gallery__image {
                    cursor: pointer;
                }
            }

            .out-of-stock-message-wrapper {
                color: #f73838;
                margin-top: 25px;
            }
        }

        .products {
            .product {
                .onsale {
                    top: -9px;
                    right: 0;
                    left: unset;
                }
            }
        }

        #yith-quick-view-content {
            .onsale {
                top: 0;
                right: 0;
                left: unset;
            }
        }

        #content {
            .summary {
                .wrapper {
                    border-top: 1px solid #ececec;
                    padding-top: 20px;
                }

                &.entry-summary-left-column {
                    width: 100%;

                    @media screen and (min-width: 768px) {
                        float: left;
                        width: 57%;
                    }

                    .product-promotion-section {
                        border-bottom: 1px solid #ececec;
                        color: #9b9b9b;
                        display: inline-block;
                        padding-bottom: 5px;
                        margin-bottom: 10px;

                        .tra-gop-section {
                            display: flex;
                        }

                        .icon-tra-gop {
                            background: url('./assets/img/sprite.png') -168px -127px no-repeat;
                            width: 85px;
                            height: 15px;
                            vertical-align: middle;
                            margin: 4px 8px 0 0;
                        }

                        span {
                            white-space: nowrap;
                            font-size: 13px;
                        }
                    }

                    .woocommerce-product-details__short-description {
                        border-bottom: 1px solid #ececec;
                        margin-left: 1.2em;
                        margin-top: 15px;
                        ul {
                            list-style-type: circle;
                            padding: 10px 0;
                        }
                    }

                    .single_add_to_cart_button {
                        border-radius: 5px;
                        float: none;
                        background: url('./assets/img/ic-cart.png') 10px center no-repeat #ff3945;
                        background-size: 26px;
                        text-transform: uppercase;
                        letter-spacing: .5px;
                        margin: 12px 0 0 0;
                        padding-left: 40px;

                        &:hover {
                            color: #ececec;
                        }
                    }

                    .woocommerce-variation-add-to-cart {
                        display: inline-flex;
                    }

                    .wares_qty_box__label {
                        font-size: 13px;
                        margin-bottom: 2px;
                    }

                    .cart {
                        border-top: none;
                    }
                }

                &.entry-summary-right-column {
                    padding: 10px;
                    width: 100%;

                    @media screen and (min-width: 767px) {
                        float: left;
                        width: 41%;
                    }

                    .wrapper {
                        border: 1px solid #ececec;
                        border-radius: 5px;
                        padding: 10px;
                    }

                    .trading-information-wrapper {
                        margin-bottom: 10px;
                    }

                    .icon-hoan-tien-2, .icon-warranty {
                        background-image: url('./assets/img/sprite.png');
                        height: 20px;
                        vertical-align: middle;
                        margin-top: 5px;
                    }

                    .icon-store {
                        background: url('./assets/img/sprite.png') -146px -349px no-repeat;
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        margin: 5px 10px 0 0;
                    }

                    .icon-hoan-tien-2 {
                        background-position: -234px -270px;
                        margin-right: 0.6rem;
                        width: 24px;
                    }

                    .icon-warranty {
                        background-position: -256px -270px;
                        margin-right: 0.4rem;
                        width: 30px;
                    }

                    @media screen and (min-width: 767px) {
                        .icon-warranty {
                            margin-right: 0.9rem;
                        }
                    }

                    .guarantee-section, .hoan-tien-section, .warranty-infor-section {
                        display: inline-flex;
                        line-height: 16px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }

                    .title {
                        font-weight: 600;
                    }

                    .contact-infor-wrapper {
                        .contact-infor__section-1 {
                            .icon {
                                height: 20px;
                            }

                            .ic-phone {
                                background: url('./assets/img/sprite.png') -282px -270px no-repeat;
                                width: 25px;
                                margin: 0.6rem 0.9rem 0 0;
                            }

                            .ic-email {
                                background: url('./assets/img/sprite.png') -160px -272px no-repeat;
                                width: 20px;
                                margin-right: 1.2rem;
                            }

                            @media screen and (min-width: 767px) {
                                .ic-phone {
                                    width: 40px;
                                }

                                .ic-email {
                                    margin-right: 0.8rem;
                                }
                            }

                            .item {
                                display: flex;
                                line-height: 16px;

                                &:first-child {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }

                &.entry-summary-center-footer {
                    clear: both;
                    float: none;
                    width: 100%;
                }
            }
        }

    }
}

.related {
    &.products {
        .custom-plp-page {
            li.product-type-grouped {
                .product-item-details {
                    .price {
                        display: block !important;
                    }
                }
            }

            .product_type_grouped {
                display: none;
            }
        }
    }
}

#show_video_product {
    &.show-video {
        // >.woocommerce-product-gallery__wrapper {
        //     display: none;
        // }
        // .woocommerce-product-gallery__trigger, .flex-viewport {
        //     display: none;
        // }

        .video-product-icon {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            .play-video {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                >i {
                    background: url('./assets/img/youtube-icon.png') center no-repeat;
                    width: 50px;
                    height: 50px;
                    float: left;
                    background-size: 100%;
                }
                &:hover {
                    color: red;
                }
            }
        }
    }
    ol.flex-control-nav {
        #show-video-item {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 70px;
        }
    }
}

#popup-video-review {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #444444a8;
    i.fa-close {
        position: absolute;
        color: white;
        font-size: 25px;
        border: 1px solid red;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        background-color: red;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    iframe {
        width: 100%;
        height: 220px;
        max-width: 1200px;
        @media screen and (min-width: 640px) {
            height: 350px;
        }
        @media screen and (min-width: 768px) {
            height: 430px;
        }
        @media screen and (min-width: 1024px) {
            height: 610px;
        }
        @media screen and (min-width: 1366px) {
            height: 770px;
        }
    }
}

.fixed-product-detail {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    z-index: 99999;
    @media screen and (min-width: 1024px) {
        top: 50px;
        bottom: unset;
        height: 70px;
        &.hide {
            display: none;
        }
        &.header-promo-not-active {
            top: 0;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        img {
            width: 70px;
            height: 70px;
        }
        .product-detail {
            display: none;
            width: calc(100% - 80px);
            margin-left: 10px;
            @media screen and(min-width: 768px) {
                display: block;
            }
            h3 {
                margin: 0;
                padding: 0;
            }
            p.price {
                margin: 0;
                color: red;
                text-decoration: none;
                display: inline-block;
                ins {
                    font-weight: bold;
                    text-decoration: none;
                }
                del {
                    margin-left: 10px;
                    color: silver;
                }
            }
            .tab-wrapper {
                display: none;
                margin-left: 4%;
                vertical-align: middle;
                top: 0;
                @media screen and(min-width: 1024px) {
                    display: inline-block;
                    margin-top: 10px;
                }
                ul {
                    li {
                        border-bottom-color: #ccc;
                    }
                }
            }
        }
        .add-to-cart-form {
            >button[type=submit] {
                width: 200px;
                margin-top: 15px;
            }
            form {
                display: none;
            }
        }
    }
}

.post-product-description {
    display: flex;
    flex-direction: column-reverse;
    @media screen and(min-width: 768px) {
        flex-direction: row;
    }
    .post-product-description-column {
        display: flex;
        flex-direction: column;
        &.post-product-description__detail-info {
            flex: 2;
            @media screen and(min-width: 768px) {
                border-right: 1px solid #fc0000;
            }
        }
        &.post-product-description__configured-detail {
            flex: 1;
        }
        .post-product-description__header {
            background-color: #f73838;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
        .detail-info-content {
            padding: 10px;
            .detail-info-content__image {
                display: flex;
                justify-content: center;
            }
            .detail-info-content__header {
                font-size: 20px;
                font-weight: 700;
            }
        }
        .configured-detail-content {
            .configured-detail-content__table {
                th {
                    padding: 0 0 0 10px;
                    max-width: 120px;
                    border-right: .5px solid rgba(232, 227, 227, 0.49);
                }
                td {
                    width: calc(100% - 100px);
                }
            }
        }
        .show-more-button-wrapper {
            text-align: center;
            margin-top: 15px;
            .show-more-button-wrapper__content {
                display: inline-flex;
                border: 1px solid #000000;
                align-items: center;
                padding: 5px 10px;
                .show-more-content-btn {
                    text-transform: uppercase;
                }
                i {
                    margin-left: 5px;
                }
                &:hover {
                    border: 1px solid #f73838;
                    cursor: pointer;
                    .show-more-content-btn, i {
                        color: #f73838;
                    }
                }
            }
        }
        .post-product-description-content {
            overflow: hidden;
        }
    }
}

.tab-wrapper {
    position: relative;
    top: 1px;
    z-index: 3;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 6px 6px 0 0;
        border: 1px solid #ccc;
        border-bottom: 0;
        float: left;
        white-space: nowrap;
        line-height: 38px;
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 100%;
        @media screen and(min-width: 768px) {
            overflow: hidden;
        }
        li {
            display: inline-block;
            margin: 0 0 0 -1px;
            padding: 0 25px;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #f73838;
            background-color: #fff;
            line-height: 38px;
            cursor: pointer;
            &.active{
                border-bottom-color: #f73838;
                background-color: #f73838;
                color: #fff;
                cursor: default;
                &:hover {
                    background-color: #f73838;
                }
            }
            &:hover {
                background-color: #ddd;
            }
            @media screen and(min-width: 768px) {
                display: block;
                float: left;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.tab-content-wrapper {
    clear: left;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 1em 10px 20px;
    border: 1px solid #f73838;
    background: #fff;
    .inactive {
        display: none;
    }
    #comment-content {
        .woocommerce-Reviews {
            display: block;
            .comment-form-rating {
                .stars {
                    &:nth-last-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
    .tab-content {
        .tab-detail-content {
            overflow: hidden;
            margin-bottom: 10px;
        }
        .show-more-content {
            margin-top: 10px;
        }
    }
}

.woocommerce-pdp {
    #secondary-right {
        display: none;
    }
    ul.custom-pdp-page.products[class*=columns-] {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 49.8%;
            background: white;
            border: 1px solid #f3f3f3;
            margin: 0 0 10px;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                width: 33.2%;
            }
            @media screen and (min-width: 992px) {
                width: 24.9%;
            }
            @media screen and (min-width: 1400px) {
                width: 19.9%;
                margin: 0px;
            }
        }
    }
} 