.description-wrapper {
    clear: both;
    overflow: hidden;

    h2 {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .more-content {
        overflow: hidden;
    }
}

.woocommerce-Reviews {
    .commentlist {
        overflow: hidden;
    }

    .commentlist {
        margin-bottom: 30px;
    }
}

.show-more-content {
    border: 1px solid #189eff;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    width: 20%;

    &:hover {
        background-color: #189eff;
    }
}

.woocommerce-Reviews {
    .woocommerce-Reviews-title {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
}

.hidden {
    display: none!important;
}

.single-product {
    &.woocommerce {
        .product {
            .price {
                color: #f73838;
                display: block;

                del {
                    color: #2d2d2d;
                    margin-right: 15px;
                }

                ins {
                    text-decoration: none;
                }
            }

            .images {
                .woocommerce-product-gallery__trigger {
                    left: .5em;
                    right: 0;
                }

                .flex-control-thumbs {
                    position: absolute;
                    top: 5px;
                    margin-left: 3em;

                    li {
                        width: 100%;
                        float: none;
                    }
                }

                img {
                    margin-left: 10em;
                    width: 75%;
                }
            }

            .onsale {
                top: -9px;
                right: 0;
                left: unset;
            }

            .trading-information-wrapper {
                p {
                    margin: 0;
                }
            }

            .woocommerce-product-gallery {
                .flex-control-nav {
                    display: block;
                }
            }

            .woocommerce-product-rating {
                border-bottom: 1px solid #ececec;
            }
        }

        .products {
            .product {
                .onsale {
                    top: -9px;
                    right: 0;
                    left: unset;
                }
            }
        }

        #yith-quick-view-content {
            .onsale {
                top: 0;
                right: 0;
                left: unset;
            }
        }

        #content {
            .summary {
                &.entry-summary-left-column {
                    float: left;
                    width: 59%;

                    .product-promotion-section {
                        border-bottom: 1px solid #ececec;
                        color: #9b9b9b;
                        display: inline-block;
                        padding-bottom: 5px;
                        margin-bottom: 10px;

                        .icon-tra-gop {
                            background-image: url('https://pipe.tikicdn.com/desktop/img/sprite.png?v=1519811185446');
                            background-position: -168px -127px;
                            display: inline-block;
                            width: 85px;
                            height: 15px;
                            vertical-align: middle;
                            margin-right: 8px;
                        }

                        span {
                            white-space: nowrap;
                            font-size: 13px;
                        }
                    }
                }

                &.entry-summary-right-column {
                    border: 1px solid #ececec;
                    border-radius: 5px;
                    padding: 10px;
                    width: 41%;

                    .icon-hoan-tien-2, .icon-warranty {
                        background-image: url('https://pipe.tikicdn.com/desktop/img/sprite.png?v=1519811185446');
                        height: 20px;
                        vertical-align: middle;
                        margin: 5px 10px 0 0;
                    }

                    .icon-store {
                        background-image: url('https://pipe.tikicdn.com/desktop/img/sprite.png?v=1519811185446');
                        background-position: -29px -349px;
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        margin: 5px 10px 0 0;
                    }

                    .icon-hoan-tien-2 {
                        background-position: -259px -270px;
                        width: 24px;
                    }

                    .icon-warranty {
                        background-position: -184px -270px;
                        width: 30px;
                    }

                    .guarantee-section, .hoan-tien-section, .warranty-infor-section {
                        display: inline-flex;
                        line-height: 16px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }

                    .title {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
