
.list_content_showrooms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .list-showrooms {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .showroom-item {
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #c0c0c036;
            @media screen and (min-width: 768px) {
                margin: 10px;
                width: calc(50% - 20px);
            }
            &.default {
                border: 1px dashed green;
            }
            .show-map {
                color: red;
                cursor: pointer;
            }
        }
    }

    #list_address_store {
        width: 100%;
        height: 500px;
    }
}

