
// custom right sidebar product
.woocommerce-page {
    #content {
        .sidebar-single-product {
            padding: 0;
            .theiaStickySidebar {
                #sidebar-section-top {
                    padding: 0;
                    .widget_online_shop_wc_products {
                        >div {
                            padding-top: 0;
                        }
                        ul.products {
                            li {
                                height: auto;
                                a:nth-child(1) {
                                    display: flex;
                                    flex-direction: row;
                                    img {
                                        width: 80px;
                                    }
                                }
                                a.yith-wcqv-button {
                                    display: none;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

span.price {
    padding-left: 10px;
    font-weight: normal;
    font-size: 16px;
    del {
        margin-right: 15px;
    }
}