@mixin truncate-text($line : 1) {
    display: -webkit-box!important;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2.product-title a, 
.product-inners h2 a,
.woocommerce ul.products li.product h2 a {
   @include truncate-text(1);
}
/* #primary iframe {
	max-width: 100%;
} */
@media (min-width: 1200px) {
    .col-mf-5 {
        width: 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.menu-mobile-icon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}

input[type=password], input[type=tel] {
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 10px;
}

.product-item {
    ins, bdi {
        color : #ff1f1f;
    }
    del {
        bdi {
            color: #666;
            margin-left: 20px;
        }
    }
}

.woocommerce .customer-login .password-input {
    width: 100%;
}
.site-content {
    padding-top: 0!important;
}
body {
    .page-header-page .entry-title {
        padding-top: 10px;
    }
}

button.button {
    background-color: var(--mf-background-primary-color);
    color: var(--mf-background-primary-text-color);
    padding: 0 25px;
    transition: all 0.5s;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    min-width: 150px;
    margin-bottom: 10px;
    white-space: nowrap;
}

body.mobile-version {
    #primary {
        width: 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    &.mf-catalog-page.mf-filter-active .catalog-sidebar, &.mobile-version.mf-catalog-page.mf-filter-active .vendor_sidebar {
        width: 100%!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}