h2.product-title a, 
.product-inners h2 a,
.woocommerce ul.products li.product h2 a {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* #primary iframe {
	max-width: 100%;
} */
@media (min-width: 1200px) {
    .col-mf-5 {
        width: 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.menu-mobile-icon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}