<header class="main-navbar">
    <div class="nav-header">
        <div class="logo">
            <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t31.0-8/18422796_1439136772811687_7759078353488733422_o.jpg?_nc_cat=111&oh=0a5ef47863b4a3b5d5b97a1a59a16949&oe=5C4BD23C" />
            <h3>Quang Lê</h3>
        </div>
    </div>
    <div class="nav-body">
        <ul>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/arduino-management">Arduino management</a>
            </li>
        </ul>
    </div>
    <div class="nav-footer">

    </div>
</header>