
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /softwares/StarComputer/starMining/webMining/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /softwares/StarComputer/starMining/webMining/index.php [L]
</IfModule>

# END WordPress