.woocommerce-account {
    #primary {
        header.entry-header {
            display: none;
        }
        article.page {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}