
// margin top content mobile
.content-wrapper {
    margin-top: 60px;
    @media screen and (min-width: 992px){
        margin-top: 0;
    }
}
.header-freezing {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid silver;
    z-index: 9999;
    background-color: white;
    display: flex;
    @media screen and (min-width: 992px){
        display: none;
    }
    i.fa-navicon {
        font-size: 20px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #f73838;
    }
    .advance-product-search {
        width: calc(100% - 180px);
        .select_products {
            display: none;
        }
        .input-group {
            line-height: 50px;
            input {
                width: calc(100% - 20px);
            }
            button {
                line-height: 45px;
            }
        }
    }
    .cart-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        .yith-wcwl-wrapper {
            padding: 8px 10px;
            margin: 0 5px;
        }
        .wc-cart-wrapper {
            padding: 8px 10px;
            margin: 0;
        }
    }
    .pr-menu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        .panel-background {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(4, 4, 4, 0.76);
        }
        .panel-menu {
            width: 300px;
            height: 100%;
            position: absolute;
            background-color: white;
            .site-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
                a {
                    margin: 10px 25px;
                }
            }
            .body-list-menu-items {
                height: calc(100vh - 200px);
                overflow-y: auto;
                ul.menu-lv1 {
                    a {
                        color: black;
                    }
                    li {
                        padding: 10px 5px 10px 15px;
                        border-bottom: 1px solid rgba(192, 192, 192, 0.38);
                        span.slicknav_arrow {
                            float: right;
                            font-size: 25px;
                            margin-right: 10px;
                            color: red;
                        }
                        span.display-name {
                            font-weight: bold;
                            color: #f73838;
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                    }
                    .login-account {
                        text-align: left;
                        strong {
                            font-size: 16px;
                            color: #f73838;
                        }
                    }
                    ul.menu-lv2 {
                        padding-left: 20px;
                        li {
                            border: none;
                            list-style: none;
                        }
                    }
                }
            }
            .footer {
                height: 50px;
            }
        }
    }
}