.woocommerce {
    ul.products {
        li.product {
            .price {
                ins {
                    text-decoration: none;
                }
            }
        }
    }
}

.main-navigation {
    .special-menu-wrapper {
        li {
            .special-menu {
                text-transform: uppercase;
            }
        }
    }
}

.products {
    .star-rating-empty {
        height: 15px;
        margin: 0;
    }
}
