.header-wrapper {
    padding: 0;
}

.top-header-wrapper {
    .icon-box.hide-mobile {
        display: none;
        @media screen and(min-width: 992px){
            display: inline-block;
        }
    }
}
.hide-mobile {
    display: none;
    @media screen and(min-width: 992px){
        display: block;
    }
}

.hide-scroll-body {
    overflow: hidden;
}

// custom woocommerce product galery
.woocommerce-product-gallery {
    .flex-control-nav{
        display: flex;
        li {
            margin-right: 3px !important;
        }
    }
}