.description-wrapper {
    clear: both;
    overflow: hidden;

    h2 {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .more-content {
        overflow: hidden;
    }
}

.woocommerce-Reviews {
    .commentlist {
        overflow: hidden;
    }

    .commentlist {
        margin-bottom: 30px;
    }
}

.show-more-content {
    border: 1px solid #189eff;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    width: 20%;

    &:hover {
        background-color: #189eff;
    }
}

.woocommerce-Reviews {
    .woocommerce-Reviews-title {
        border-bottom: 1px solid #f73838;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
}

.hidden {
    display: none!important;
}