.special-menu-plp {
    float: left;
    width: 10rem;

    .special-sub-menu {
        width: 100%;
    }

    li {
        border-bottom: 1px solid #dedede;
        border-right: 1px solid #dedede;
        border-left: 1px solid #dedede;
        padding: 10px;

        a {
            color: #2d2d2d;

            &:hover {
                color: #f73838;
            }
        }

        .sub-menu {
            display: none;
            margin: 0;

            li {
                border: none;
                position: absolute;
                left: 15%;
            }
        }
    }

    li:first-child {
        border-top: 1px solid #dedede;
    }
}

.products-plp {
    width: 64rem;
    display: inline-block;
    margin-left: 1rem;
}